@use "./styles/partials/typography.scss" as *;



* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
  }
  
  html,
  body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    padding: 0rem;
    margin: 0rem;
    width: 100vw;
    height: 100vh;
    // background-color: black;
    
    
  }