@font-face {
    font-family: "Saira Stencil One", serif;
    src: url('/natHacks24_NeuroMedix/src/assets/fonts/Saira_Stencil_One/SairaStencilOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}